<nav>
  <ul class="inline-list">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/timeline">Timeline</a></li>
    <li><a href="/games/tft">TFT</a></li>
    <li><a href="/games/deadlock">Deadlock</a></li>
    <li><a href="/games/wow">WoW</a></li>
  </ul>
</nav>
