---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{tags.length > 0 && (
  <div class="tags">
    {tags.map((tag) => (
      <a class="tag" href={`/tags/${encodeURIComponent(tag)}/`}>
        #{tag}
      </a>
    ))}
  </div>
)}
