---
import TagChip from "./TagChip.astro";

interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{tags.length > 0 && (
  <div class="tags">
    {tags.map((tag) => (
      <TagChip tag={tag} />
    ))}
  </div>
)}
